default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= db.username %>
  password: <%= db.password %>

development:
  <<: *default
  database: <%= db.dev_database %>

test:
  <<: *default
  database: <%= db.test_database %>
